FEDMGR_HOME=~/where_you_git_cloned_it/fedmgr
FEDMGR_BUILD_DIR=${FEDMGR_HOME}/build
FEDMGR_BUILD_DIR_REL=build
FEDMGR_BUILD_REL_NPM_DIR=build/npm
FEDMGR_BUILD_NPM_DIR=${FEDMGR_HOME}/${FEDMGR_BUILD_REL_NPM_DIR}

# instance installation directories are in the build/install directory and descend from there 
FEDMGR_INSTALL_DIR_REL=install
FEDMGR_INSTALL_DIR=${FEDMGR_BUILD_DIR_REL}/${FEDMGR_INSTALL_DIR_REL}

FEDMGR_FEDERATIONS_DIR=./${FEDMGR_INSTALL_DIR}/federations
FEDMGR_FED_REG=./${FEDMGR_INSTALL_DIR}/fed-reg
# the default federation to play with, used in scripts/bootstrap-federation.sh
FEDMGR_DEF_FED=alpha

FEDMGR_SCRIPT_DIR=${FEDMGR_HOME}/scripts

# end FEDMGR specific, what follows are for the demo application
OIDC_MOCK_DIR_REL=./${FEDMGR_INSTALL_DIR}/oidc-mock
OIDC_MOCK_CONFIG_DIR_REL=./${OIDC_MOCK_DIR_REL}/oidc-config


OIDC_MOCK_DIR=${FEDMGR_INSTALL_DIR}/oidc-mock
OIDC_MOCK_CONFIG_DIR=${OIDC_MOCK_DIR}/oidc-config
PORT=5173
# OIDC Provider configuration
OIDC_PROVIDER_PORT=6432
OIDC_PROVIDER_INTERNAL_PORT=3000
OIDC_PROVIDER_HOST=localhost
OIDC_PROVIDER_URL=http://${OIDC_PROVIDER_HOST}:${OIDC_PROVIDER_PORT}

